In [41]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv("Raw Data/cleaned_players.csv")
df.head()

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type
0,Bernd,Leno,0,0,10,360,9,0.0,85.0,0.0,0,69,8.5,1,0,0,0.8,45,GK
1,Rúnar Alex,Rúnarsson,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.5,40,GK
2,Willian,Borges Da Silva,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.1,63,MID
3,Pierre-Emerick,Aubameyang,4,1,44,1036,16,132.4,217.6,582.0,7,131,92.9,6,0,3,1.2,96,FWD
4,Cédric,Soares,1,1,48,1481,27,306.5,246.0,76.0,3,292,63.0,3,0,3,0.4,42,DEF

In [43]:
df["full name"] = df["first_name"] + " " + df["second_name"]
df.head()

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type,full name
0,Bernd,Leno,0,0,10,360,9,0.0,85.0,0.0,0,69,8.5,1,0,0,0.8,45,GK,Bernd Leno
1,Rúnar Alex,Rúnarsson,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.5,40,GK,Rúnar Alex Rúnarsson
2,Willian,Borges Da Silva,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.1,63,MID,Willian Borges Da Silva
3,Pierre-Emerick,Aubameyang,4,1,44,1036,16,132.4,217.6,582.0,7,131,92.9,6,0,3,1.2,96,FWD,Pierre-Emerick Aubameyang
4,Cédric,Soares,1,1,48,1481,27,306.5,246.0,76.0,3,292,63.0,3,0,3,0.4,42,DEF,Cédric Soares

In [44]:
df = df[["full name", "total_points", "element_type", "now_cost"]]
df.head()

                   full name  total_points element_type  now_cost
0                 Bernd Leno            10           GK        45
1       Rúnar Alex Rúnarsson             0           GK        40
2    Willian Borges Da Silva             0          MID        63
3  Pierre-Emerick Aubameyang            44          FWD        96
4              Cédric Soares            48          DEF        42

In [45]:
df = df.set_index("full name")
df.head()

                           total_points element_type  now_cost
full name
Bernd Leno                           10           GK        45
Rúnar Alex Rúnarsson                  0           GK        40
Willian Borges Da Silva               0          MID        63
Pierre-Emerick Aubameyang            44          FWD        96
Cédric Soares                        48          DEF        42

### Add club of players

In [46]:
club_df = pd.read_csv("Raw Data/Game Weeks/gw38.csv", index_col="name")
club_df.head()

,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
name,,,,,,,,,,,,,,,,,,,,,
Eric Bailly,DEF,Man Utd,0.4,0,0,0,0,0.0,286,376,...,0,1,0.0,0,-92,11,103,49,False,0
Keinan Davis,FWD,Aston Villa,0.0,0,0,0,0,0.0,49,379,...,2,3,0.0,0,-1579,0,1579,45,False,0
Ayotomiwa Dele-Bashiru,MID,Watford,0.0,0,0,0,0,0.0,394,375,...,1,2,0.0,0,-3,0,3,45,False,0
James Ward-Prowse,MID,Southampton,6.2,0,0,29,0,0.0,341,377,...,1,4,0.0,7,-17129,12891,30020,64,False,0
Bruno Miguel Borges Fernandes,MID,Man Utd,2.9,0,0,0,0,0.0,277,376,...,0,1,0.0,1,-4540,5184,9724,116,False,1

In [47]:
club_df = club_df[["team"]]
club_df.head()

                                      team
name
Eric Bailly                        Man Utd
Keinan Davis                   Aston Villa
Ayotomiwa Dele-Bashiru             Watford
James Ward-Prowse              Southampton
Bruno Miguel Borges Fernandes      Man Utd

In [48]:
# merge club df with main df
df = pd.merge(df, club_df, left_index=True, right_index=True, how="outer")
df

                  total_points element_type  now_cost         team
Aaron Connolly               5          FWD        53     Brighton
Aaron Cresswell            115          DEF        54     West Ham
Aaron Lennon                60          MID        46      Burnley
Aaron Ramsdale             135           GK        51      Arsenal
Aaron Ramsey                 0          MID        44  Aston Villa
...                        ...          ...       ...          ...
Álvaro Fernández            31           GK        45      Man Utd
Álvaro Fernández            31           GK        45    Brentford
Álvaro Fernández             0          DEF        40      Man Utd
Álvaro Fernández             0          DEF        40    Brentford
Çaglar Söyüncü              66          DEF        49    Leicester

[741 rows x 4 columns]

### Break team into indicator variables

In [49]:
club_df = pd.get_dummies(df["team"])
club_df

,Arsenal,Aston Villa,Brentford,Brighton,Burnley,Chelsea,Crystal Palace,Everton,Leeds,Leicester,Liverpool,Man City,Man Utd,Newcastle,Norwich,Southampton,Spurs,Watford,West Ham,Wolves
Aaron Connolly,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Aaron Cresswell,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
Aaron Lennon,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Aaron Ramsdale,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Aaron Ramsey,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Álvaro Fernández,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Álvaro Fernández,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Álvaro Fernández,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Álvaro Fernández,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Çaglar Söyüncü,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [50]:
df = pd.concat([df, club_df], axis=1)
df

,total_points,element_type,now_cost,team,Arsenal,Aston Villa,Brentford,Brighton,Burnley,Chelsea,...,Liverpool,Man City,Man Utd,Newcastle,Norwich,Southampton,Spurs,Watford,West Ham,Wolves
Aaron Connolly,5,FWD,53,Brighton,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Aaron Cresswell,115,DEF,54,West Ham,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
Aaron Lennon,60,MID,46,Burnley,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Aaron Ramsdale,135,GK,51,Arsenal,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Aaron Ramsey,0,MID,44,Aston Villa,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Álvaro Fernández,31,GK,45,Man Utd,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Álvaro Fernández,31,GK,45,Brentford,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Álvaro Fernández,0,DEF,40,Man Utd,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Álvaro Fernández,0,DEF,40,Brentford,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Çaglar Söyüncü,66,DEF,49,Leicester,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
df = df.dropna()
df

,total_points,element_type,now_cost,team,Arsenal,Aston Villa,Brentford,Brighton,Burnley,Chelsea,...,Liverpool,Man City,Man Utd,Newcastle,Norwich,Southampton,Spurs,Watford,West Ham,Wolves
Aaron Connolly,5,FWD,53,Brighton,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Aaron Cresswell,115,DEF,54,West Ham,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
Aaron Lennon,60,MID,46,Burnley,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Aaron Ramsdale,135,GK,51,Arsenal,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Aaron Ramsey,0,MID,44,Aston Villa,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Álvaro Fernández,31,GK,45,Man Utd,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Álvaro Fernández,31,GK,45,Brentford,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Álvaro Fernández,0,DEF,40,Man Utd,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Álvaro Fernández,0,DEF,40,Brentford,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Çaglar Söyüncü,66,DEF,49,Leicester,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
df["GK"] = np.where(df.element_type == "GK",1, 0)
df["DEF"] = np.where(df.element_type == "DEF",1, 0)
df["MID"] = np.where(df.element_type == "MID",1, 0)
df["FWD"] = np.where(df.element_type == "FWD",1, 0)

df

,total_points,element_type,now_cost,team,Arsenal,Aston Villa,Brentford,Brighton,Burnley,Chelsea,...,Norwich,Southampton,Spurs,Watford,West Ham,Wolves,GK,DEF,MID,FWD
Aaron Connolly,5,FWD,53,Brighton,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
Aaron Cresswell,115,DEF,54,West Ham,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
Aaron Lennon,60,MID,46,Burnley,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
Aaron Ramsdale,135,GK,51,Arsenal,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Aaron Ramsey,0,MID,44,Aston Villa,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Álvaro Fernández,31,GK,45,Man Utd,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Álvaro Fernández,31,GK,45,Brentford,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Álvaro Fernández,0,DEF,40,Man Utd,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Álvaro Fernández,0,DEF,40,Brentford,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Çaglar Söyüncü,66,DEF,49,Leicester,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

### Get weekly points

In [53]:
def create_weekj_df(week):
    # read csv
    filename = f"Raw Data/Game Weeks/gw{week}.csv"
    weekj_df = pd.read_csv(filename, index_col="name")
    
    # delete rows with repeated indexes and keep first occurence
    weekj_df = weekj_df[~weekj_df.index.duplicated(keep='first')]

    # extract whether he played and total points for the week
    weekj_df = weekj_df[["minutes", "total_points"]]
    weekj_df ["minutes"] = np.where(weekj_df["minutes"]>0, 1, 0)
    weekj_df = weekj_df.rename(columns={"total_points": f"total_points week {week}","minutes": f"played week {week}"})
    
    # returned points_j_df and played_j_df
    points_j_df = weekj_df[[f"total_points week {week}"]]
    played_j_df = weekj_df[[f"played week {week}"]]
    return points_j_df, played_j_df
create_weekj_df(1)[1]

                               played week 1
name
Eric Bailly                                0
Keinan Davis                               0
Ayotomiwa Dele-Bashiru                     0
James Ward-Prowse                          1
Bruno Miguel Borges Fernandes              1
...                                      ...
Wilfred Ndidi                              1
Matt Ritchie                               1
Nathan Redmond                             1
Mathew Ryan                                0
Ryan Fredericks                            1

[553 rows x 1 columns]

In [54]:
points_df, played_df = create_weekj_df(1)
# loop through all weeks
for j in range(2,38+1):
    points_j_df, played_j_df = create_weekj_df(j)
    points_df = pd.merge(points_df, points_j_df, left_index=True, right_index=True, how="outer")
    played_df = pd.merge(played_df, played_j_df, left_index=True, right_index=True, how="outer")

points_df = points_df.fillna(0)
played_df = played_df.fillna(0)
points_df
#played_df

,total_points week 1,total_points week 2,total_points week 3,total_points week 4,total_points week 5,total_points week 6,total_points week 7,total_points week 8,total_points week 9,total_points week 10,...,total_points week 29,total_points week 30,total_points week 31,total_points week 32,total_points week 33,total_points week 34,total_points week 35,total_points week 36,total_points week 37,total_points week 38
name,,,,,,,,,,,,,,,,,,,,,
Aaron Connolly,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Aaron Cresswell,7.0,2.0,5.0,8.0,1.0,2.0,1.0,7.0,12.0,2.0,...,1.0,1.0,9.0,1.0,2.0,2.0,0.0,6.0,1.0,1
Aaron Lennon,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,2.0,0.0,2.0,2.0,0.0,1.0,2.0,2.0,1.0,1
Aaron Ramsdale,0.0,0.0,0.0,6.0,9.0,3.0,6.0,2.0,3.0,10.0,...,9.0,0.0,1.0,1.0,2.0,3.0,2.0,2.0,2.0,2
Aaron Ramsey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Awe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Zack Steffen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Zak Swanson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Álvaro Fernández,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Çaglar Söyüncü,6.0,0.0,2.0,1.0,1.0,1.0,1.0,7.0,1.0,1.0,...,0.0,2.0,0.0,2.0,1.0,9.0,1.0,0.0,0.0,0

In [55]:
week_df = pd.merge(points_df, played_df, left_index=True, right_index=True, how="outer")
week_df

,total_points week 1,total_points week 2,total_points week 3,total_points week 4,total_points week 5,total_points week 6,total_points week 7,total_points week 8,total_points week 9,total_points week 10,...,played week 29,played week 30,played week 31,played week 32,played week 33,played week 34,played week 35,played week 36,played week 37,played week 38
name,,,,,,,,,,,,,,,,,,,,,
Aaron Connolly,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Aaron Cresswell,7.0,2.0,5.0,8.0,1.0,2.0,1.0,7.0,12.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
Aaron Lennon,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1
Aaron Ramsdale,0.0,0.0,0.0,6.0,9.0,3.0,6.0,2.0,3.0,10.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
Aaron Ramsey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Awe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Zack Steffen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Zak Swanson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Álvaro Fernández,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Çaglar Söyüncü,6.0,0.0,2.0,1.0,1.0,1.0,1.0,7.0,1.0,1.0,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0

In [56]:
# merge with main df
df = pd.merge(df, week_df, left_index=True, right_index=True, how="outer")
df

,total_points,element_type,now_cost,team,Arsenal,Aston Villa,Brentford,Brighton,Burnley,Chelsea,...,played week 29,played week 30,played week 31,played week 32,played week 33,played week 34,played week 35,played week 36,played week 37,played week 38
Aaron Connolly,5,FWD,53,Brighton,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Aaron Cresswell,115,DEF,54,West Ham,0,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
Aaron Lennon,60,MID,46,Burnley,0,0,0,0,1,0,...,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1
Aaron Ramsdale,135,GK,51,Arsenal,1,0,0,0,0,0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
Aaron Ramsey,0,MID,44,Aston Villa,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Álvaro Fernández,31,GK,45,Man Utd,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Álvaro Fernández,31,GK,45,Brentford,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Álvaro Fernández,0,DEF,40,Man Utd,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Álvaro Fernández,0,DEF,40,Brentford,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Çaglar Söyüncü,66,DEF,49,Leicester,0,0,0,0,0,0,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0

In [57]:
df.to_csv("data.csv")

### Extracting starting 11 after optimising

In [60]:
starting11_df = pd.read_csv("results.csv")
starting11_df.head()

,Column1,total_points,element_type,now_cost,team,Arsenal,Aston Villa,Brentford,Brighton,Burnley,...,played week 31,played week 32,played week 33,played week 34,played week 35,played week 36,played week 37,played week 38,Starting 11,Fantasy lineup
0,Aaron Connolly,5,FWD,53,Brighton,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
1,Aaron Cresswell,115,DEF,54,West Ham,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,-0.0,0.0
2,Aaron Lennon,60,MID,46,Burnley,0,0,0,0,1,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1,-0.0,0.0
3,Aaron Ramsdale,135,GK,51,Arsenal,1,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,0.0,0.0
4,Aaron Ramsey,0,MID,44,Aston Villa,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,-0.0

In [61]:
starting11_df = starting11_df[starting11_df["Fantasy lineup"] > 0.5]
starting11_df

,Column1,total_points,element_type,now_cost,team,Arsenal,Aston Villa,Brentford,Brighton,Burnley,...,played week 31,played week 32,played week 33,played week 34,played week 35,played week 36,played week 37,played week 38,Starting 11,Fantasy lineup
68,Aymeric Laporte,160,DEF,60,Man City,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0
183,Dominic Calvert-Lewin,64,FWD,77,Everton,0,0,0,0,0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1,1.0,1.0
224,Ferran Torres,26,MID,67,Man City,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.0,1.0
240,Gabriel Fernando de Jesus,120,FWD,86,Man City,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0
266,Hugo Lloris,158,GK,55,Spurs,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0
321,Jason Steele,2,GK,39,Brighton,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.0,1.0
460,Marcos Alonso,128,DEF,57,Chelsea,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0,1.0,1.0
470,Mason Greenwood,71,MID,71,Man Utd,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,1.0
500,Michail Antonio,140,FWD,73,West Ham,0,0,0,0,0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1,1.0,1.0
509,Mohamed Salah,265,MID,131,Liverpool,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1,1.0,1.0
569,Paul Pogba,65,MID,74,Man Utd,0,0,0,0,0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0,-0.0,1.0
582,Pontus Jansson,122,DEF,45,Brentford,0,0,1,0,0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0
586,Raphaël Varane,75,DEF,55,Man Utd,0,0,0,0,0,...,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0,1.0,1.0
636,Saïd Benrahma,138,MID,59,West Ham,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0,0.0,1.0
701,Tyrone Mings,118,DEF,50,Aston Villa,0,1,0,0,0,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1,1.0,1.0

In [62]:
starting11_df.to_csv("starting11.csv", index=False)

### Xij dataframe

In [63]:
xij_df = pd.read_csv("xij.csv")
xij_df

,x1,x2,x3,x4,x5,Name,Team,Position,Starting 11,Fantasy lineup
0,-0.000000e+00,1.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,Aaron Connolly,Brighton,FWD,-0.000000e+00,1.000000e+00
1,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,Aaron Cresswell,West Ham,DEF,-0.000000e+00,1.000000e+00
2,-0.000000e+00,-0.000000e+00,0.000000e+00,0.000000e+00,-0.000000e+00,Aaron Lennon,Burnley,MID,-0.000000e+00,0.000000e+00
3,-0.000000e+00,-0.000000e+00,-0.000000e+00,1.000000e+00,1.000000e+00,Aaron Ramsdale,Arsenal,GK,1.000000e+00,1.000000e+00
4,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,Aaron Ramsey,Aston Villa,MID,0.000000e+00,-0.000000e+00
5,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,Aaron Wan-Bissaka,Man Utd,DEF,1.000000e+00,1.000000e+00
6,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,Abdoulaye Doucouré,Everton,MID,1.000000e+00,1.000000e+00
7,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,Abu Kamara,Norwich,FWD,0.000000e+00,-0.000000e+00
8,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,Adam Armstrong,Southampton,FWD,1.000000e+00,1.000000e+00
9,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,Adam Forshaw,Leeds,MID,-0.000000e+00,0.000000e+00
10,1.000000e+00,-0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,Adam Idah,Norwich,FWD,1.000000e+00,1.000000e+00
11,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,Adam Lallana,Brighton,MID,1.000000e+00,1.000000e+00
12,5.247481e-16,1.165734e-15,1.000000e+00,-0.000000e+00,1.000000e+00,Adam Masina,Watford,DEF,-0.000000e+00,1.000000e+00
13,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.183291e-30,Adam Webster,Brighton,DEF,1.000000e+00,1.000000e+00
14,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,Adama Traoré,Wolves,MID,1.000000e+00,1.000000e+00
15,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,Adedapo Awokoya-Mebude,Watford,FWD,-6.298034e-16,2.208895e-16
16,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,0.000000e+00,Ademola Lookman,Leicester,MID,-0.000000e+00,0.000000e+00
17,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,Adrian Blake,Watford,MID,-0.000000e+00,0.000000e+00
18,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,Adrián San Miguel del Castillo,Liverpool,GK,-1.332268e-15,-1.332268e-15
19,-0.000000e+00,-0.000000e+00,-3.560424e-17,-3.560424e-17,-1.068127e-16,Ainsley Maitland-Niles,Arsenal,MID,-3.560424e-17,-3.560424e-17
20,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,Ajibola Alese,West Ham,DEF,-1.005985e-16,-1.005985e-16
21,1.000000e+00,1.000000e+00,-0.000000e+00,1.000000e+00,1.000000e+00,Albert Sambi Lokonga,Arsenal,MID,1.000000e+00,1.000000e+00
22,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,Alejandro Garnacho Ferreyra,Man Utd,MID,-0.000000e+00,0.000000e+00
23,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,Alex Iwobi,Everton,MID,1.000000e+00,1.000000e+00
24,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,Alex Kirk,Arsenal,DEF,1.000000e+00,1.000000e+00
25,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,Alex Kral,West Ham,MID,-0.000000e+00,0.000000e+00
26,1.000000e+00,1.000000e+00,1.000000e+00,-1.332268e-15,0.000000e+00,Alex McCarthy,Southampton,GK,-0.000000e+00,1.000000e+00
27,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,Alex Nicolao Telles,Man Utd,DEF,0.000000e+00,0.000000e+00
28,-0.000000e+00,-0.000000e+00,-0.000000e+00,5.965907e-17,-0.000000e+00,Alex Oxlade-Chamberlain,Liverpool,MID,5.965907e-17,3.155444e-30
29,-0.000000e+00,-0.000000e+00,-7.084167e-17,-0.000000e+00,-0.000000e+00,Alexandre Lacazette,Arsenal,FWD,-7.084167e-17,-7.084167e-17

In [64]:
xij_df = xij_df[xij_df.sum(axis=1) > 0.5]
xij_df

C:\Users\ACER\AppData\Local\Temp/ipykernel_14724/3921760092.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  xij_df = xij_df[xij_df.sum(axis=1) > 0.5]

,x1,x2,x3,x4,x5,Name,Team,Position,Starting 11,Fantasy lineup
0,-0.000000e+00,1.000000e+00,-0.0,-0.000000e+00,-0.000000e+00,Aaron Connolly,Brighton,FWD,-0.0,1.0
1,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,Aaron Cresswell,West Ham,DEF,-0.0,1.0
3,-0.000000e+00,-0.000000e+00,-0.0,1.000000e+00,1.000000e+00,Aaron Ramsdale,Arsenal,GK,1.0,1.0
5,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,Aaron Wan-Bissaka,Man Utd,DEF,1.0,1.0
6,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,Abdoulaye Doucouré,Everton,MID,1.0,1.0
8,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,Adam Armstrong,Southampton,FWD,1.0,1.0
10,1.000000e+00,-0.000000e+00,1.0,1.000000e+00,1.000000e+00,Adam Idah,Norwich,FWD,1.0,1.0
11,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,Adam Lallana,Brighton,MID,1.0,1.0
12,5.247481e-16,1.165734e-15,1.0,-0.000000e+00,1.000000e+00,Adam Masina,Watford,DEF,-0.0,1.0
13,1.000000e+00,1.000000e+00,1.0,1.000000e+00,-1.183291e-30,Adam Webster,Brighton,DEF,1.0,1.0
14,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,Adama Traoré,Wolves,MID,1.0,1.0
21,1.000000e+00,1.000000e+00,-0.0,1.000000e+00,1.000000e+00,Albert Sambi Lokonga,Arsenal,MID,1.0,1.0
23,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,Alex Iwobi,Everton,MID,1.0,1.0
24,-0.000000e+00,-0.000000e+00,-0.0,-0.000000e+00,-0.000000e+00,Alex Kirk,Arsenal,DEF,1.0,1.0
26,1.000000e+00,1.000000e+00,1.0,-1.332268e-15,0.000000e+00,Alex McCarthy,Southampton,GK,-0.0,1.0

In [65]:
xij_df['x1'].sum()

11.0